<p>
  Hi, <%= @buyer.first_name %> <%= @buyer.last_name %>
</p>

<p>Some one register bid <%= @bid.name %> on item <%= @item.name %>.</p>

<a href="<%=
  "#{Rails.configuration.ui_server_url}/item/#{@item.id}/bid/#{@bid.id}"
%>">Click here</a> to View Bid detail.
